<!-- <p id="notice"><%= notice %></p>

<h1>Sols</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>User</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sols.each do |sol| %>
      <tr>
        <td><%= sol.title %></td>
        <td><%= sol.desc %></td>
        <td><%= sol.user %></td>
        <td><%= sol.state %></td>
        <td><%= link_to 'Show', sol %></td>
        <td><%= link_to 'Edit', edit_sol_path(sol) %></td>
        <td><%= link_to 'Destroy', sol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sol', new_sol_path %> -->


<div class="jumbotron col-md-5 col-xs-12">
    <div class="logincard">
      <h1>Hola!</h1>
      <hr class="my-8">
      <p>Qué quieres hacer?</p>
      <a id="vobobutton" class="btn btn-primary btn-lg" href="" role="button">vobo nuevo</a>
      <a id="vobobutton" class="btn btn-primary btn-lg" href="" role="button">vobos actuales</a>
      <a id="vobobutton" class="btn btn-primary btn-lg" href="" role="button">vobos antiguos</a>
      <a id="vobobutton" class="btn btn-primary btn-lg" href="" role="button">aprobar vobo</a>
    </div>
  </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
