<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @sol.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @sol.desc %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @sol.user_one.name %>
</p>

<p>
  <strong>Aprobador:</strong>
  <% if @sol.user_two.name.nil? %>
    <%= @sol.user_two.email + " (Invitación Enviada)" %>
  <% else %>
    <%= @sol.user_two.name %>
  <% end %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sol.state.desc %>
</p>

<%= link_to 'Edit', edit_sol_path(@sol) %> |
<%= link_to 'Back', sols_path %>
